grant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="grant">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="title"/>
        <xs:element type="xs:string" name="agency"/>
        <xs:element type="xs:string" name="department"/>
        <xs:element type="xs:string" name="summary"/>
        <xs:element type="xs:date" name="initiated"/>
        <xs:element type="xs:date" name="expires"/>
        <xs:element type="xs:string" name="coordinator"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="grantNum"/>
      <xs:attribute type="xs:string" name="funding"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
